<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Health Centre Chatbot</title>
    <!-- <link rel="stylesheet" href="/static/css/app.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  
</head>

<body>
    
    <div class="uwiheading">
        <span>
            <h4 style="text-align: center; margin: 0%;"> <img style="height: 50px;"src="{{ url_for('static', filename='uwilogopng.png') }}">The University of The West Indies</h4> </span>
        <h2>Health Center</h2>
    </div> 
    <div class="path" ><p>lk </p> </div>
    
<div class="flex-container">
  <div> </div>
                <div class="middlediv">
                    <div style="background-color: #005688; width: 100%;"> hi</div>
                    <div class="row">
                        <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">About us</p>
                      
                        </div>
                        <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">Health Insurance</p>
                      
                        </div>
                        <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">Wellness Program</p>
                      
                        </div>
                        <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">Health Tips</p>
                        </div>
                        
                        <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">Service Access</p>
                        </div>
                        
                         <div class="column" style="background-color:#002339;">
                          <p class="heading1" style="font-family: Trebuchet Ms; font-size: 10px;">Our Staff</p>
                        </div>
                        
                      </div>
                      
                      <div style="background-color: #9FDDF9 ;">. </div>
                      <div class="rowpic">
                        <div class="columnpic">
                            <img style="height: 240px; width: 400px;" src="{{ url_for('static', filename='image1.png') }}">
                         
                        </div>
                        <div class="columnpic" style="background-color:#bbb;">
                            <div class="grid-container">
                                <div class="grid-item"><img style="height: 110px;" src="{{ url_for('static', filename='image2.png') }}"></div>
                                <div class="grid-item"><img style=" height: 110px;" src="{{ url_for('static', filename='image5.png') }}"></div>
                                <div class="grid-item"><img style="height: 110px;"src="{{ url_for('static', filename='image6.png') }}"></div>  
                                <div class="grid-item"><img style="height: 110px;"src="{{ url_for('static', filename='image3.png') }}"></div>
                                <div class="grid-item"><img style="height: 110px;"src="{{ url_for('static', filename='image5.png') }}"></div>
                                <div class="grid-item"><img style="height: 110px;"src="{{ url_for('static', filename='image7.png') }}"></div>  
                              
                              </div>
                          
                        </div>
                      </div>

                      <div style="background-color: #9FDDF9 ;">. </div>
                       <div class="grid-container-body">
                            <div class="grid-item-body col1">1</div>
                            
                            
                            <div class="grid-item-body col2">
                                <p   id="middlehc"> The Health Center </p>
                                <p class="para" > UWI MONA WELLNESS SURVEY 2009 - participate and get an opportunity to learn more about your own health and wellbeing. For more information click here.</p>
                            <p class="para"> The University Health Centre (UHC) at the University of the West Indies, Mona Campus,
                                 provides a wide range of primary and secondary health care services to members of the university community. 
                                 Members include staff and their dependents, retirees and their spouses, students, and some residents of surrounding communities.
                                  Our fully licensed medical and counselling practitioners are particularly attuned to the demands of faculty and staff, and sensitive to the needs,
                                   stress and rigour of student life. Operating as a commercial entity, the Centre provides a very high quality of health care at low cost 
                                   to all users. The Health Centre provides these services in an efficient manner, always ensuring that confidentiality is maintained. 
                                   The University Health Centre aims to be the 'conscience' and nerve centre of wellness on the campus through the development of a comprehensive wellness programme for students and staff. 
                                   We invite you to browse our website. It contains information on the services provided and how to access these services. 
                                It also contains useful tips to maintain good health and wellbeing as well as links to other related websites.</p>
                                
                                <ul class="elibleuserslist">
                                    <li>Students: Full-time, Part-time</li>
                                    <li>Staff: Full-time staff members with employment contracts of one year or longer.</li>
                                    <li>Staff Dependents: Spouses, and children under the age of 19 years at the time of enrollment.</li>
                                    <li> Retirees: Retired staff members and their spouses.</li>
                                  </ul>
                                  <p class="para"> All visits to the University Health Centre are treated confidentially. 
                                      The UHC will not disclose any aspect of your visit to the Centre with any third party. 
                                      Only disclosures explicitly required to conform to public health reporting requirements will be made.</p>

                                  <p class="para">Location: 11 Gibraltar Camp Way, Mona Campus, opposite the Social Welfare Training Centre. </p>
                                  <p class="para">Directions: As a quick reference, look for the Pharmacy (Rx) sign prominently displayed. </p>
                                  <p class="para"> (1) If you are entering the campus from Mona Road, use the gate near to the Mona Post Office and proceed up Gibraltar Camp Way.</p>
                                <p class="para"> (2) If you are entering the campus from the Hospital end, use the gate near to Irvine Hall and continue left down Gibraltar Camp Way.</p>
                                </div>
                            
                            
                            <div class="grid-item-body col3">3</div>  
                        
                       </div>
                </div>
                        <div style="padding-left: 30px;"> 
                          <div class="body">  <p> Hi, I'm Eva, ask me something</p>
                            <a href="{{ url_for('chatbot') }}"  target="_blank"><img style="height: 110px;" src="{{ url_for('static', filename='chatbot2.png') }}"></a>
                            
                            <div>
                        
                        </div>  
 
</div>

     
</body>

</html>